 *, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(255, 255, 255, 0.4); /* Change this to your preferred color */
    width: 100%;
}
/*
.langue_page, .page_de_connexion {
    float: right;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(135, 209, 250);
    text-decoration: none;
    border-radius: 5px;
    margin-right: 80px;
    margin-top: 40px;
    border: rgba(135, 209, 250,0.75) 2px solid;
}

.highlight {
    color: rgba(250, 119, 253,0.5); 
    font-weight: bold;
}
*/
h1{
    text-align: left;
}
h2{
    text-align: center;
    padding : 35px 0;
    font-size: 39.5px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 50px;
}

body {
    background-image: url('fond.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-faq{
    width: 70%;
    max-width: 900px;
    min-width: 500;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: flex-start;
    
}
.questions{
    width: 100%;
    height: auto;
    margin: 5px;
    color: black;
    
}

.visible-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  linear-gradient(to right, rgba(250, 119, 253, 0.5), rgba(135, 209, 250, 0.5));
    border-radius: 10px;
    position: relative;
    z-index: 100;
}

.visible-pannel h3{
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 24px;
}
.visible-pannel img{
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
    
}

.toggle-pannel {
    padding: 0px 15px;
    height: 0px;
    opacity: 0;
    background: linear-gradient(to right, rgba(238, 145, 240, 0.25), rgba(100, 194, 245, 0.25));
    border-radius: 10px;
    
}

.toggle-pannel h4 {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight : bold;
}

.toggle-pannel p{
    line-height: 1.5;
}

#message {
    display: none;
    padding: 10px;
    background-color: rgba(100, 194, 245, 0.2);
    color: #fff;
    border-radius: 5px;
}

input[type="text"] {
    padding: 12px 20px; /* Espace intérieur */
    margin: 8px 0; /* Marge extérieure */
    box-sizing: border-box; /* Pour que padding et border ne modifient pas la largeur totale */
    border: 2px solid #ccc; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    background-color: #f8f8f8; /* Couleur de fond */
    font-size: 16px; /* Taille de texte */
    /*flex-grow: 0.5; /* Prendre tout l'espace disponible */
    margin-right: 10px; /* Ajout d'une marge à droite pour espacer le bouton */
    width : 725px;
}

.input-container {
    display: flex;
    flex-direction: row; /* Apply to only text field and submit button */
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.interaction {
    max-width: 900px;
    min-width: 500;
    height: auto;
    margin: 10px auto 5px;
    display: flex;
    flex-direction: column; /* Change to column for vertical layout */
    align-items: flex-start;
    margin-top : 40px;
    font-size: 20px;
    font-weight: bold;
    background-color : rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: left;
    line-height: 1.5;
    padding : 15px 15px;
    margin-bottom : 150px;
}
input[type="submit"] {
    background-color: #111052; 
    color: #fff;
    border: none; 
    padding: 15px 32px; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 10px; 
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.banner {
    animation: slideIn 1s forwards;
}





.conteneur a {
    color: #000; /* Couleur du texte pour les liens */
    text-decoration: none; /* Retirer le soulignement des liens */
    width: 100%;
}
.conteneur {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
} 
.connexion a {
    color: #ffffff; /* This will override the color inherited from .conteneur a */
}
.connexion {
    background-color: #111052;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 15px;
}

.connexion button {
    margin-right: 10px;
}
#myButton {
    background-color: rgb(12, 26, 87);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.div-banniere{
    width: 100%;
}
.partie {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#number {
    padding-top: 30px;
}
.align {
    margin-top: 20px;
}
.partie1 {
    width: auto;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /*margin-right: auto;  add this line */
    flex-grow: 1; /* add this line */
    text-align: center;
    /* remove justify-content: center; and align-items: center; */
}
.partie1 img {
    pointer-events: auto;
    width: auto;
}
.partie3 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    display: flex;
    margin-left : auto;
    margin-right : 25px;
    position: absolute;
    right: 0;
}
.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
}
.tee {
    width: 100%; 
}
.instagram-button {
    margin-left: 1.7px; 
}
#myBouton {
    position: absolute;
    top: 174%;
    left: 11%;
    transform: translate(-50%, -50%);
    background-color: rgb(12, 26, 87);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.lil-dec {
    margin-left: 30px;
}
#about {
    text-align: center;
    padding: 40px 0;
}
.emoji-bar {
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.emoji-bar img {
    width: 30px; /* Adjust as needed */
    height: auto; /* This will maintain the aspect ratio */
    margin-right: 10px;
    margin-bottom:10px ;
}
.partie1 {
    display: flex;
    justify-content: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-button {
    position: absolute;
    left: 0;
}
.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*margin: 10px auto 5px;
display: flex;
flex-direction: column;  Change to column for vertical layout 
align-items: flex-start;
margin-top : 40px;
padding : 15px 15px;*/
